<div class="container">
    <div class="container mt-4">
        <div class="d-flex gap-5 align-items-center">
            <div class="bg-primary text-bg-primary rounded-3">
                <h1 role="button" class="m-2" routerLink="welcome">FPL</h1>
            </div>
            <h1 role="button" class="bg-opacity-100 bg-body text-danger-emphasis rounded-3 m-2 text-decoration-underline" routerLink="welcome">Factory Premier League</h1>
        </div>
    </div>
<br>
    <div class="d-flex flex-row gap-2">
        <div class="d-flex flex-column text-nowrap bg-white p-2 fst-italic">
            <span role="button" routerLink="component-input">Component Input</span>
            <span role="button" routerLink="for-directive">{{ 'for' }} Directive</span>
            <span role="button" routerLink="teams">Teams</span>
            <span role="button" routerLink="players">Players</span>
        </div>
        <div class="flex-grow-1 p-2 text-nowrap">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>