<div class="container">
    <div class="container mt-4">
        <div class="d-flex gap-5 align-items-center">
            <div class="bg-primary text-bg-primary rounded-3">
                <h1 class="m-2">FPL</h1>
            </div>
            <h1 class="bg-opacity-100 bg-body text-danger-emphasis rounded-3 m-2 text-decoration-underline">Factory Premier League</h1>
        </div>
    </div>
    <div class="d-flex gap-5 text-nowrap">
        <app-person-table></app-person-table>
        <app-person-table></app-person-table>
        <app-person-table></app-person-table>
    </div>
</div>