<h1>Login</h1>

<form (submit)="login()">
    <div>
        <input type="text" name="email" placeholder="Email" [(ngModel)]="email" />
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="password" />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!email || !password">Login</button>
    @if (invalidLogin) {
        <div class="alert alert-danger">
            <strong>Error:</strong> Invalid email or password
        </div>
    }
</form>